In [5]:
l1=[2,3,4]
print(l[-1])
print(l1[::2])

4
[2, 4]

In [8]:
list1 =["python",3,6,"hyd"]
print(list1)
list1[1]="gitam"
list1

['python', 3, 6, 'hyd']

['python', 'gitam', 6, 'hyd']

In [9]:
del list1[1]
list1

['python', 6, 'hyd']

In [26]:
l=[1,2,3,4,5,6,7,8]
len(l)
l*2
print(4 in l)
print(201 not in l)
print(l)
for i in l:
    print(i)

True
True
[1, 2, 3, 4, 5, 6, 7, 8]
1
2
3
4
5
6
7
8

In [29]:
print(l)
for i in range (len(l)):
    print(l[i])

[1, 2, 3, 4, 5, 6, 7, 8]
1
2
3
4
5
6
7
8

In [30]:
print(l)
print(max(l))
print(min(l))

[1, 2, 3, 4, 5, 6, 7, 8]
8
1

In [33]:
print(sum(l)/len(l))

4.5

In [40]:
print(l)
l.append("python")
l.insert(0,"gitam")

['gitam', 'gitam', 1, 2, 3, 4, 5, 6, 7, 8, 'python', 'python', 'python', 'python', 'python', 'python']

In [48]:
print(l1)
l1.pop()

[1, 2, 3, 4]

4

In [47]:
l1=[1,2,3,4,]
print(l1.count(4))
print(l1.index(2))
print(l1.index(3))
print(l1)

1
1
2
[1, 2, 3, 4]

In [52]:
l1.pop()

2

In [56]:
l2=[1,2,3]
l1.extend(l2)
l1

[1, 1, 2, 3]

In [63]:
l2.reverse()
l2

[3, 2, 1]

In [64]:
l1=[1,2,3,4,5,6,7,8,9,10]
print(max(l1))

10

In [66]:
def large(li):
    li.sort()
    return li[-1]
li=[3,34,12,3,432,1,21,41244]
large(li)

41244